trigger:
- dev

pool:
 name: ubuntu-agent

variables: 
 webAppName: 'e-sonnwebapp'
 azureServiceConnection: 'mid-service_connection-webapp'
 buildConfiguration: 'Release'
 srcAppPath: 'MyAzureApp/MyAzureApp.csproj'

steps:
- script: echo "start running steps ..."

- task: UseDotNet@2
  inputs:
    version: '8.x'

- script: |
    dotnet restore
    dotnet publish $(srcAppPath) -c $(buildConfiguration) -o $(Build.ArtifactStagingDirectory)
  displayName: 'Build and publish'

- task: AzureWebApp@1
  inputs:
    azureSubscription: $(azureServiceConnection)
    appName: $(webAppName)
    package: '$(Build.ArtifactStagingDirectory)' 

- script: echo "App Deployment finished successfully ..."